

<!doctype html>
<html>
    <head>
        <title>Wanderers List</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    body{padding-top: 80px;}
    </style>
     </head>

    <body>
        <div class="container">
            <div class="jumbotron text-center">
                <h1><span class="fa fa-lock"></span> Wanderers List</h1>
                <a href = "/logout" class="btn btn-default btn-sm">Logout</a>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="well">
                        <h3> <span class="fa fa-user"></span>Local</h3>

                    <p>
                        <strong>id</strong>: {{user.id}}<br>
                        <strong>email</strong>: {{user.email}}<br>
                    </p>
                    </div>
                </div>

                {{!--<!--Facebook Info-->--}}
                <div class="col-sm-6">
                {{#each todoList}}
                    <ul>
                        <li>Task Name:{{this.name}}</li>
                        <li>Due Date:{{this.due_date}}</li>
                        <li>Details:{{this.details}}</li>
                        <li>Todo Type:{{this.list_name}}</li>
                    <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit">Delete Task!</button>
        </form>
                    </ul>
                {{/each}}
                </div>
                <div class="col-sm-6">
                    <form id="addToDo" name="addToDo" method="post" action="/add">
                    <label for="name">Todo Name</label>
                    <input class="text" name="name" type="input" /><br>
                    <label for="details">Details</label>
                    <input class="text" name="details" type="input" /><br>
                    <label for="due_date">Due Date</label>
                    <input name="due_date" type="date" /><br>
                    <label for="list_name">Todo Type</label>
                    <input name="list_name" type="input" /><br>
                    <input type="hidden" value="1" name="UserId">
                    <input class="btn" type="submit" value="Add Task" />
                    </form>
=======
                    <div class="well">
                        <h3> <span class="fa fa-user"></span>Local</h3>

                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span><Facebook</a>


                    <p>
                        <strong>id</strong>: <%user.facebook.id%><br>
                        <strong>email</strong>: <%user.facebook.token%><br>
                        <strong>password</strong>: <%user.facebook.email%><br>
                        <strong>name</strong>: <% user.facebook.name%>
                    </p>
                    </div>
                </div>

                
                {{!--Google Info--}}
                <div class="col-sm-6">
                    <div class="well">
                        <h3 class="text-danger"> <span class="fa fa-user"></span>Local</h3>

                <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span><Facebook</a>


                    <p>
                        <strong>id</strong>: <%user.google.id%><br>
                        <strong>email</strong>: <%user.google.token%><br>
                        <strong>password</strong>: <%user.google.email%><br>
                        <strong>name</strong>: <% user.google.name%>
                                    {{#each todoList}}
                    <ul>
                        <li>{{this.name}}</li>
                        <li>{{this.due_date}}</li>
                        <li>{{this.details}}</li>
                        <li>{{this.list_name}}</li>
                    </ul>
                {{/each}}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
